# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DB=financedb

# JWT
JWT_SECRET=wAj4K3FGbnhKNYNIJsqSLy0mqvee+mCNlCMQEmwSx98=

# Database schema
DB_SCHEMA=finance

# Optional: override host ports
# NGINX_PORT=80
